streamlit
pydub
pillow
moviepy
# Para la transcripción (puede requerir torch y torchaudio, pip los instalará)
openai-whisper
# Para OCR
pytesseract
# Para conversión de documentos
pdf2docx
tabula-py
python-pptx
pdf2image
pypandoc
pandas
xlsxwriter
# Para compresión/edición de imágenes
rembg
